.main {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #469034;
  /* justify-content: center; */
  align-items: center;
}

.body {
  display: flex;
  width: max-content;
  padding: 15px;
  overflow-y: visible;
}

.sideContent {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);;
  min-width: 20%;
  max-width: 20%;
  background-color: #566173;
  padding: 25px;
  align-items: center;
}

.imageContainer {
  height: 250px;
  width: 250px;
  margin:20px 0px 20px 0px;
  background-color: #735668;
}

.img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.titleContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-style: italic;
  font-size: xx-large;
  font-weight: 400;
  color: black;
}

.subTitle {
  margin: 0;
  font-style: italic;
  font-size: large;
  font-weight: 400;
  color: black;
}

.userBio {
  --max-lines: 3;
  display:inline-block;
  max-height: 80px;
  width: 100%;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}

.statsContainer {
  display: flex;
  width: 100%;
  row-gap: 5px;
  font-size: x-small;
  justify-content: space-between;
}

.stats {
  display: flex;
  color: white;
  font-size: small;
  column-gap: 3px;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  width: 100%;
  column-gap: 10px;
  color: white;
  font-size: larger;
  font-style: italic;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.backButton {
  display: flex;
  height: 45px;
  width: 155px;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  border-width: 0px;
  background-color: white;
  font-style: italic;
  font-size: small;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}