.main {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #fafafa;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 0px 60px;
  height: 100%;
  width: 100%;
  row-gap: 5px;
  overflow-y: auto;
}

.body::-webkit-scrollbar {
  display: none;
}

.sideContent {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);;
  min-width: 20%;
  max-width: 20%;
  background-color: #3b4252;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: space-around;
  align-items: center;
}

.imageContainer {
  height: 250px;
  width: 250px;
  margin:20px 0px 20px 0px;
}

.img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.titleContainer {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-style: italic;
  font-size: xx-large;
  font-weight: 400;
  color: #e0e6ed;
}

.subTitle {
  margin: 0;
  font-style: italic;
  font-size: large;
  font-weight: 400;
  color: #e0e6ed;
}

.userBio {
  display: flex;
  min-height: 10%;
  max-height: 15%;
  width: 100%;
  color: #e0e6ed;
  text-align: justify;
  overflow-y: auto;
}
.userBio::-webkit-scrollbar {
  display: none;
}

.statsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  row-gap: 5px;
  font-size: x-small;
  justify-content: space-between;
}

.stats {
  display: flex;
  color: #e0e6ed;
  font-size: small;
  column-gap: 3px;
  justify-content: center;
  align-items: center;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  row-gap: 10px;
  width: 100%;
  align-items: flex-start;
}

.icon {
  width: 50px;
}


.linkElement {
  display: flex;
  color: #e0e6ed;
  column-gap: 10px;
  font-size: x-large;
  font-weight: 300;
  font-style: italic;
  justify-content: flex-start;
  align-items: center;
}

.link {
  color: inherit;
  text-decoration: none;
}

.backButton {
  display: flex;
  min-height: 45px;
  width: 155px;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  border-width: 0px;
  background-color: #e0e6ed;
  font-style: italic;
  font-size: small;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 130px;
  border-bottom: solid rgba(59, 66, 82, 0.2);
  border-width: 0px 0px 1px 0px;
  padding: 15px;
  justify-content: space-between;
}

.titleButton {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: inherit;
  justify-content: flex-start;
  cursor: pointer;
}

.cardTitle {
  margin: 0;
  font-style: italic;
  font-size: x-large;
  font-weight: 400;
  color: #3b4252;
}

.cardBio {
  display:inline-block;
  height: 80%;
  width: 100%;
  color: #3b4252;
  margin: 0;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardFooter {
  display: flex;
  width: 100%;
  color: #3b4252;
  column-gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.dot {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background-color: #3b4252;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}